{% extends 'voluntariado/voluntario_master.html'%}
{% load staticfiles %}
{% block tittle %}<h4>VOLUNTARIOS</h4>

    <!-- <div class="mdl-layout-spacer"></div> -->
    <div class="mdl-layout-spacer"></div>
          <div class="asr bld  hidden-sm" >
      		 
      		<form id="myform" class="nav nav-navbar" action="">
		<label class="mdl-label" style="size:100px;" >Buscar: &nbsp;&nbsp;</label><input placeholder="...."  style="border-radius: 25px; " name="query" value="{{query}}" /> 
		<input type="submit" value="Consultar" class="btn mdl-color--blue mdl-color-text--white "  style="border-radius: 25px; " />
	</form>   
          </div>{% endblock %}
{% block contenido %}

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">
<div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-8">
                            <a id="crear_detalle" href="{% url 'voluntario'  %}" class=" mdl-btn btn mdl-color--blue mdl-color-text--white ">New
                           <span class="glyphicon glyphicon-plus"></span></a> 
                             &nbsp;&nbsp;                    
                            <a id="crear_detalle" href="{% url 'reporte_excel' %}" class=" mdl-btn btn mdl-color--blue mdl-color-text--white">Excel
                           <span class="glyphicon glyphicon-file"></span></a>                          
                        </div> 
                         <div class="col-lg-4">                                                           
                        </div> 
                                             
                    </div>
                </div>
    </div>

			<div class="table-responsive">

          
           <!-- <div class="demo-content"> -->
	<table class="table table-bordered "  border="0">
		<thead class="alert-warning">
				<th class="active">ID</th>
				<th class="th">NOMBRES</th>
				<th class="th">APELLIDOS</th>
				<th class="th">MOVIL</th>
				<th class="th">E-MAIL</th>
				<!-- <th class="th">REFERENCIA</th>-->
				<th class="th">CARRERA</th> 
				<th class="th">ESTADO</th>
				<th class="th" >ACCIONES</th>
        </thead>
         <tbody class="" >
			{% for voluntario in voluntarios %}
			<tr>
				<td class="active"><b>{{ voluntario.id }}</b></td>
				<td><b>{{ voluntario.nombres }}</b></td>
				<td class="active"><b>{{ voluntario.apellidos }}</b></td>
				<td><b>{{ voluntario.celular }}</b></td>
				<td class="active"><b>{{ voluntario.correo }}</b></td>
				<!--  <td><b>{% for referencia in voluntario.referencia.all %}
							{{ referencia.parentesco }}--{{ referencia.nombres }}
			{% endfor %}				
				</b></td>-->
				<td><b>{{ voluntario.carrera }}</b></td>
				<td class="active"><b>{{ voluntario.get_estado_display }}</b></td>
				<td><a class="btn btn-sm btn-warning" href="{% url 'voluntario' voluntario.id %}"><span class="glyphicon glyphicon-edit">Editar</span></a>
				<a class="btn btn-sm btn-danger" href="{% url 'update' voluntario.id %}"><span class="glyphicon glyphicon-trash">Deshab</span></a></td>
			</tr>
		 </tbody>
		 {% endfor %}
		</table>
		{% if voluntarios.has_previous %}
		<a href="?page={{voluntarios.previous_page_number}}&query={{ query }}">Anterior</a>
		{% endif %}
		
		Pagina {{ voluntarios.number }} de {{ voluntarios.paginator.num_pages }}
		
		{% if voluntarios.has_next %} 
		<a href="?page={{voluntarios.next_page_number}}&query={{ query }}">Siguiente</a>
		{% endif %}
         </div>
         </br>
         </br>
        
         <div class="panel-body">
                <div class='form-group'>
                <div class="col-lg-3" >
                   </div> 
						<div class="col-lg-5" >
                   <div class="nav nav-navbar"style=" border-top-style: solid; ">
            		<!-- contenido del histograma -->
            		
        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto;"></div>

<script type="text/javascript">

Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Stacked bar chart'
    },
    xAxis: {
        categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Total fruit consumption'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'John',
        data: [5, 3, 4, 7, 2]
    }, {
        name: 'Jane',
        data: [2, 2, 3, 2, 1]
    }, {
        name: 'Joe',
        data: [3, 4, 4, 2, 5]
    }]
});
		</script>            		</div>
            			</div>
          </div>
        
			</div>
				
					 
					
</div>
            
	
		     
{% endblock %}
  
{% block extrajs %}
<script src="{% static 'highcharts/code/highcharts.src.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.src.js' %}"></script>
  
{% endblock %}

