{% extends "app/web_base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron" style="color: #FFFFFF	; background-color:#848484">
   
    <img align="right" class="img-thumbnail" src="{% static 'imagen/tclogo.jpg' %}" width="80" height="80" />
    <h2 >Fundacion Tacita Caliente</h2> 
     <hr/> 
</div>



	<div class="col-md-5">

		<h1>Historia</h1>
		<p  class="thumbnail ">Un grupo de Jovenes ....</p>
		
	</div>
	<div class="col-md-7">

		<h1>Eventos navidenos</h1>
		<p  class="thumbnail ">Desde el anio 2004 obtuvimos recursos....</p>
		
	</div>

<div class="table-responsive">
<table class="table">
<th class="th">ID</th>
<th style="color:blue;">Nombre</th>
<th style="color:blue;">Apellido</th>
<th style="color:blue;">Fecha Nacimiento</th>
<th style="color:blue;">correo</th>
<th style="color:blue;">Direccion</th>
<th style="color:blue;">Estado</th>
<tr>

<td class="td">1</td>
<td>Franklin</td>
<td>Briones</td>
<td>1992-12-23</td>
<td>javier1992frank@gmail.com</td>
<td>Isla trinitaria</td>
<td>Activo</td>
</tr>
</table>
</div>







{% endblock %}

